.App {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.champion-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.stat-container {

} 

.stat-label {
  font-weight: bold;
}

.champ-select-text {
  text-align: center;
}